.image1 {                                                   /*Background Image class = image1*/
    background: url("../images/SDskyline.jpg")
}


.jumbotron {                                   /*Jumbotron Card(explore San Diego, instructions, button, timer*/
   
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    background-color: rgb(236, 248, 60);
}


.btnStart {                                     /*Start Button*/
    margin-top: 70px;
}

.textStart {                                    /*Instructions*/
    margin-top: 30px;
    font-weight: 600;

}


.card {                                     /*Main Card (Qs and As)*/
    opacity: .8;
}


.quest {                                        /*Question header*/
    margin-top: 50px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}


.questionList{                                  /* ul class*/
    margin-top: 50px;
    list-style-type: none;
    
}


.answ{                                          /*answer class*/
    margin-top: 40px;
    font-weight: 900;

}


.btn-group-vertical {                       /*Button group class*/
    align-content: center;
    display: flex;

}


.score {                                            /*Score ul class*/

text-align: center;
font-weight: bolder;
font-family: 'Architects Daughter', cursive;
}



.button {                                       /*button color*/

   background-color: lightskyblue;

}


.toggle{
background-color: red;

}

/* button:focus{background-color: cadetblue;} */